
NEXT_PUBLIC_TITLE="SupaNexTail"

# SENDGRID
SENDGRID_MAILTO=YOUR_RECIPIENT
SENDGRID_MAILFROM=YOUR_VERIFIED_SENDER
SENDGRID_SECRET=YOUR_SENGRID_SECRET
SENDGRID_MAILING_ID=YOUR_MAILING_LIST_ID

# STRIPE
STRIPE_WEBHOOK=YOUR_STRIPE_WEBHOOK
STRIPE_SECRET=YOUR_SECRET_STRIPE_KEY
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=YOUR_PUBLIC_STRIPE_KEY

#SUPABASE
NEXT_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_ADMIN_KEY=YOUR_SUPABASE_ADMIN_KEY